<h1><%= @article.title %></h1>
<% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
  <% end %>
<p><%= @article.body %></p>
<%= link_to "<- back", articles_path %>

<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
 %>
 <%= link_to "edit", edit_article_path(@article) %>
 <h3>Comments (<%= @article.comments.size %>)</h3>

<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments %>