<!DOCTYPE html>
<html>
<head>
  <title>Blogger | Michal Staniszewski</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p class="flash"><%= flash.notice %></p>

</body>
</html>
